
.tail {
    @apply bg-slate-300 dark:bg-slate-700 fill-slate-800 dark:fill-slate-300;
}
.bg-round-6 {
    @apply bg-slate-200 dark:bg-slate-800 rounded-md w-6 h-6;
}
.button {
    @apply rounded-md px-2 border border-slate-500 disabled:opacity-50;
}
.btn-anchor {
    @apply text-slate-800 dark:text-slate-300 hover:underline disabled:opacity-50 active:bg-orange-800;
}
.btn-normal {
    @apply bg-slate-300 hover:bg-slate-400 disabled:hover:bg-slate-300
        dark:bg-slate-700 dark:hover:bg-slate-800 disabled:hover:dark:bg-slate-700;
}
.btn-prime {
    @apply bg-orange-400 text-slate-800 hover:bg-orange-500 disabled:hover:bg-orange-400
}
/* .btn-prime-dark {
    @apply bg-orange-800 text-slate-300 hover:bg-orange-700 disabled:hover:bg-orange-800;
}
.btn-prime {
    @apply bg-orange-400 hover:bg-orange-500 disabled:hover:bg-orange-400 dark:bg-orange-800
        dark:hover:bg-orange-700 dark:disabled:hover:bg-orange-800;
} */
.select {
    scrollbar-color: #64748B transparent;
    @apply border border-solid border-slate-500 p-2 fill-slate-800 dark:fill-slate-300 overflow-y-auto;
    &>div {
        @apply hover:bg-slate-300 dark:hover:bg-slate-700;
    }
}


