@import url(https://raw.esm.sh/gh/sholvoir/preact-components@0.0.7/static/button-ripple.css);
@import url(https://raw.esm.sh/gh/sholvoir/preact-components@0.0.7/static/input-text.css);
@import url(https://raw.esm.sh/gh/sholvoir/preact-components@0.0.7/static/checkbox.css);
@import url(https://raw.esm.sh/gh/sholvoir/preact-components@0.0.7/static/select.css);
@import "tailwindcss";

input, textarea {
    @apply border px-2;
}
body {
    @apply text-slate-800 dark:text-slate-300;
}
.input_4Xa52 {
    &>div {
        @apply bg-slate-200 dark:bg-slate-800;
    }
}
.title {
    width: env(titlebar-area-width,100%);
    height: env(titlebar-area-height,38px);
    margin-left: env(titlebar-area-x,0);
    @apply bg-slate-300 dark:bg-slate-900 flex justify-center items-center font-bold;
}
.tip {
    left: calc(env(titlebar-area-x,0px)_+_32px);
    width: calc(env(titlebar-area-width,100%)_-_64px);
    height: env(titlebar-area-height,38px);
    @apply fixed top-0 bg-slate-300 dark:bg-slate-900 flex justify-center items-center font-bold;
}
.body {
    @apply bg-slate-200 dark:bg-slate-800;
}
.tail {
    @apply bg-slate-300 dark:bg-slate-700 fill-slate-800 dark:fill-slate-300;
}
.bg-round-6 {
    @apply bg-slate-200 dark:bg-slate-800 rounded-md w-6 h-6;
}
.button {
    @apply rounded-md px-2 border border-slate-500 disabled:opacity-50;
}
.btn-anchor {
    @apply text-slate-800 dark:text-slate-300 hover:underline disabled:opacity-50 active:bg-orange-800;
}
.btn-normal {
    @apply bg-slate-300 hover:bg-slate-400 disabled:hover:bg-slate-300
        dark:bg-slate-700 dark:hover:bg-slate-800 disabled:hover:dark:bg-slate-700;
}
.btn-prime {
    @apply bg-orange-400 text-slate-800 hover:bg-orange-500 disabled:hover:bg-orange-400
}
/* .btn-prime-dark {
    @apply bg-orange-800 text-slate-300 hover:bg-orange-700 disabled:hover:bg-orange-800;
}
.btn-prime {
    @apply bg-orange-400 hover:bg-orange-500 disabled:hover:bg-orange-400 dark:bg-orange-800
        dark:hover:bg-orange-700 dark:disabled:hover:bg-orange-800;
} */
.select {
    scrollbar-color: #64748B transparent;
    @apply border border-solid border-slate-500 p-2 fill-slate-800 dark:fill-slate-300 overflow-y-auto;
    &>div {
        @apply hover:bg-slate-300 dark:hover:bg-slate-700;
    }
}
.about {
    @apply font-extrabold;
    &>div {
        @apply w-full min-h-80 p-5 flex flex-col justify-center odd:bg-slate-200
            odd:text-slate-800 even:bg-slate-800 even:text-slate-300 even:text-right;
    }
    &>div>h1 {
        @apply mb-4 text-5xl;
    }
    &>div>p {
        @apply text-2xl;
    }
}
.menu {
    @apply p-2 flex flex-col gap-1;
    &>menu {
        @apply cursor-pointer
    }
    &>div {
        @apply h-px bg-slate-500;
    }
}
