.about {
    --at-apply: font-extrabold;
    &>div {
        --at-apply: w-full min-h-80 p-5 flex flex-col justify-center odd:bg-slate-200
            odd:text-slate-800 even:bg-slate-800 even:text-slate-300 even:text-right;
    }
    &>div>h1 {
        --at-apply: mb-4 text-5xl;
    }
    &>div>p {
        --at-apply: text-2xl;
    }
}