@import "tailwindcss";
@plugin "@iconify/tailwind4";

@layer base {

  :root,
  :host {
    --slate-200: oklch(0.929 0.013 255.508);
    --slate-300: oklch(0.869 0.022 252.894);
    --slate-400: oklch(0.704 0.04 256.788);
    --slate-500: oklch(0.554 0.046 257.417);
    --slate-700: oklch(0.372 0.044 257.287);
    --slate-800: oklch(0.279 0.041 260.031);
    --slate-900: oklch(0.208 0.042 265.755);
    --orange-300: oklch(0.837 0.128 66.29);
    --orange-400: oklch(0.75 0.183 55.934);
    --orange-500: oklch(0.705 0.213 47.604);
    --orange-700: oklch(0.553 0.195 38.402);
    --orange-800: oklch(0.47 0.157 37.304);
    --orange-900: oklch(0.408 0.123 38.172);
    --color-neutral: var(--slate-500);
    --border-color: var(--color-neutral);
    --bg-ripple: oklch(from var(--slate-300) l c h / .8);
    --bg-title: var(--slate-300);
    --bg-body: var(--slate-200);
    --bg-button: var(--slate-300);
    --bg-btn-hover: var(--slate-200);
    --bg-btn-active: var(--slate-400);
    --bg-button-prime: var(--orange-400);
    --bg-btn-prime-hover: var(--orange-300);
    --bg-btn-prime-active: var(--orange-500);
    --bg-half: oklch(from var(--bg-body) l c h / .7);
    --bg-tab: var(--bg-title);
    --text-color: var(--slate-800);
    --accent-color: var(--orange-700);
    outline: none;
    fill: currentColor;
  }

  @media (prefers-color-scheme: dark) {

    :root,
    :host {
      --bg-ripple: oklch(from var(--slate-800) L C H / .8);
      --bg-title: var(--slate-800);
      --bg-body: var(--slate-900);
      --bg-button: var(--slate-800);
      --bg-btn-hover: var(--slate-900);
      --bg-btn-active: var(--slate-700);
      --bg-button-prime: var(--orange-800);
      --bg-btn-prime-hover: var(--orange-900);
      --bg-btn-prime-active: var(--orange-700);
      --text-color: var(--slate-300);
      --accent-color: var(--orange-300);
    }
  }

  body {
    color: var(--text-color);
    background-color: var(--bg-title);
  }

  input,
  textarea,
  fieldset {
    background-color: transparent;
    border-color: var(--border-color);
    border-width: 1px;
    outline: none;
    padding-inline: 8px;
  }

  div {
    border-color: var(--border-color);
  }

  .title {
    width: env(titlebar-area-width, 100%);
    height: env(titlebar-area-height, 38px);
    margin-left: env(titlebar-area-x, 0);
  }

  .body {
    background-color: var(--bg-body);
  }

  .tail {
    background-color: var(--bg-title);
  }

  .button {
    border-color: var(--border-color);
    border-radius: 6px;
    padding-inline: 8px;
    border-width: 1px;
  }

  .btn-anchor {
    &:hover:enabled {
      text-decoration-line: underline;
    }

    &:active:enabled {
      color: var(--accent-color);
    }
  }

  .btn-normal {
    background-color: var(--bg-button);

    &:hover:enabled {
      background-color: var(--bg-btn-hover);
    }

    &:active:enabled {
      background-color: var(--bg-btn-active);
    }
  }

  .btn-prime {
    background-color: var(--bg-button-prime);

    &:hover:enabled {
      background-color: var(--bg-btn-prime-hover);
    }

    &:active:enabled {
      background-color: var(--bg-btn-prime-active);
    }
  }
}